{
  "presets": [ 
    [
      "@babel/preset-env",//https://babeljs.io/docs/en/babel-preset-env
      { 
        "targets": {
          "chrome": "58"
        }
        //https://jakearchibald.com/2017/es-modules-in-browsers/#nomodule-for-backwards-compatibility
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-async-to-generator"]
}